.contact-container {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-image {
    background-image: url('../../assets/contact.jpeg');
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
}

.contact-detail {
    padding-left: 10px;
}