.contact-container {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid red;
}

.contact-image {
    background-image: url('../../assets/contact.jpeg');
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
}